@font-face {
   font-family: '8705';
   font-display: swap;
   src: url('file:///C:/Users/%D0%B3%D0%B5%D0%BE%D1%80%D0%B3%D0%B8%D0%B9/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-12_201511/fonts/8705/font.ttf');
}
